* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

.main-left {
  background-color: #455A64;
  display: inline-block;
  width: 50vw;
  height: 100vh;
}

.main-left__container {
  width: 87%;
  background-color: #455A64;
  margin: 0 auto;
}

.main-left__title {
  color: #FFFFFF;
  margin: 35% 0 40px;
  text-align: center;
  font-size: 6vw;
  font-weight: 800;
}

.main-left__logo {
  height: 90px;
  width: 90px;
  vertical-align: middle;
}

.main-left__input-title,
.main-left__input-URL {
  color: #445A64;
  width: 100%;
  height: 45px;
  margin-bottom: 58px;
  padding: 1px 0 1px 15px;
  font-size: 30px;
  outline: none;
}

.main-left__input-title::placeholder,
.main-left__input-URL::placeholder {
  color: #BDBFC1;
  font-size: 30px;
}

.main-left__button-delete-read,
.main-left__button-enter {
  width: 100%;
  height: 45px;
  background-color: #FFC107;
  color: #FFFFFF;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 800;
  outline: none;
}

.main-left__button-enter:hover {
  background-color: #FFD773
}

.main-left__button-enter:disabled {
  opacity: .5;
}


.main-left__button-enter:disabled:hover {
  background-color: #FFC107;
}

.main-left__button-delete-read:hover {
  background-color: #FFD773
}

.main-left__button-delete-read:disabled {
  opacity: .5;
}


.main-left__button-delete-read:disabled:hover {
  background-color: #FFC107;
}

.main-left__counter-on-page-container{
  color: #FFFFFF;
  text-align: center;
  width: 100%;
}

.main-left__counter {
  color: #FFFFFF;
  margin-top: 10px;
}

.main-left__counter-on-page{
  color: #FFFFFF;
}

.main-left__counter-read-container{
  color: #FFFFFF;
  display: inline-block;
  text-align: center;
  width: 40%;
}

.main-left__counter-read{
  color: #FFFFFF;
}

.main-left__counter-unread-container {
  color: #FFFFFF;
  display: inline-block;
  text-align: center;
  position: relative;
  left: 170px;
}

.main-left__counter-unread{
  color: #FFFFFF;
}

/*____________________________________*/

.main-right {
  width: 50vw;
  height: 100vh;
  background-color: #CFD8DC;
  display: inline-block;
  float: right;
}

ul {
  padding: 25px;
}

li {
  width: 100%;
  height: 200px;
  border: 1px solid black;
  background-color: #FFFFFF;
  list-style-type: none;
  padding: 5px 15px 0px;
  margin-bottom: 38px;
 }


.card__container-title{
  height: 35%;
  width: 100%;
  border-bottom: 1px solid #CFD8DC;
}

.main-right__card-title{
  font-weight: 800;
  color: #445A64;
  font-size: 30px;
  width:100%;
  vertical-align: middle;
  padding: 10px 0 0 10px;
}

.card__container-link{
  height: 40%;
  width: 100%;
  border-bottom: 1px solid #CFD8DC;
}

.main-right__card-link {
  display: block;  
  color: #607D8B;
  text-decoration: underline #F2F4F4;
  width: 100%;
  padding: 10px 0 0 10px;
  font-size: 22px;
  vertical-align: middle;
}

.main-right__card-link:hover,
.main-right__card-button:hover {
  text-decoration: underline #FFC107;
  font-weight: 800;
} 

.card__container-button{
  height: 15%;
  width:100%;
  padding: 4px 0;
}

.main-right__card-button { 
  margin-bottom: 10px;
  text-decoration: underline #F2F4F4;
  color: #445A64;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 10px 0 0 10px;
}

.main-right__card-button-read-clicked {
  color: #F05A28;
  background-color: #F2F4F4;
  font-weight: 800; 
}
.main-right__card-button-delete {
  position: absolute;
  right: 45px;
  background-color: transparent;;
}

.main-right__card-button-delete-read {
  background-color: #F2F4F4;
}

.read {
  background-color: #F2F4F4;
}


/*____________________________________*/
/*
@media screen and (max-width: 1170px) {

    .main-left__title {
    color: black;
    margin: 35% 0 40px;
    text-align: center;
    font-size: 6.5vw;
    font-weight: 800;
  }

  .main-left__logo {
    height: 90px;
    width: 90px;
    vertical-align: middle;
  }
}
*/







